body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden; 
    background-color: black;
}

#grid-container {
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    gap: 2px;
}
